/* ******* ******* style.sass ~ The SASS file used to render style.css ******* ******* */

$yellow_1: #fecc3c;
$yellow_2: #fbd055;
$orange_1: #ec9053;
$orange_2: #cd854b;
$orange_3: #efae60;
$purple_link: #8c0d98;
$purple_1: #c86678;
$brown_1: #483729;

$border_1: 2px solid #fecc3c;
$border_2: 2px solid #ec9053;
$border_3: 2px solid #e86678;
$border_4: 2px solid #efae60;
$border_5: 2px solid #c86678;
$border_6: 1px dashed #fecc3c;
$border_7: 1px dotted #fecc3c;

$sofia_font: "sofia-pro-soft";
$muli_font: "muli";

$font_weight_xl_light: 200;
$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;

$font_size_base: 1.25rem;
$font_size_link: 1.25rem;
$font_size_splash: 1.45rem;
$font_size_base_ipad: 1rem;
$font_size_header_iphone: 1.5rem;
$font_size_calendar_days_iphone: 0.82rem;
$font_size_calendar_dates_iphone: 1.55rem;

a {
	font-family: $sofia_font;
}

p, 
h3, 
h5, 
h6, 
ol, 
div#calendar-staff_events, 
section#section-phss_supporters > div.row:nth-child(4) > div > div > ul {
  font-family: $muli_font;
}

li {	
	font-size: $font_size_base;
	color: $brown_1;
}

p {
	font-size: $font_size_base;
	font-weight: $font_weight_normal;
	letter-spacing: 0.4px;
	color: $brown_1;
	text-align: justify;
}

p:first-of-type:first-line {
	font-weight: $font_weight_bold;
}

p.after_first:first-line {
	font-weight: $font_weight_normal;
}

section {
	margin: 0;
}

section:last-of-type {
	margin-bottom: 3.5rem;
}

h3, 
h6 {
	width: 36%;
	margin: 0 auto 3.5rem auto;
	padding: 1rem 0 1.2rem 0;
	border-top: $border_1;
	border-bottom: $border_1;
	font-weight: $font-weight_bold;
	color: $purple_1;
}

h5, 
h6 {
	color: $purple_1;
}

h6 {
	margin: 0;
	padding: 0.3rem 0 0.5rem 0;
}

hr {
	border-top: $border_1;
}

strong {
	font-family: $muli_font;
	font-size: $font_size_base;
	font-weight: $font_weight_bold;
}

a#what_phss_does, 
a#why_phss, 
a#location, 
a#staff_events, 
a#help_phss, 
a#phss_supporters {
	line-height: 8rem;
}

body {
	margin: 0;
}

header {
	width: 100%;
	height: 5rem;
	padding: 0.56rem 4rem;
	border-top: $border_1;
	
	ul {
		margin-top: 0.7rem;
		float: right;
	}

	li {
		margin: 0 0.98rem;
		display: inline-flex;
		list-style: none;
	}

	li:last-of-type {
		margin-right: 0;
	}
	
	a {
		font-family: $sofia_font;
		font-size: $font_size_link;
		font-weight: $font_weight_normal;
		text-decoration: underline;
		color: $purple_link;
	}
}

.navbar {
	width: 100%;
	padding: 0 4rem;
	border-top: $border_2;
	border-bottom: $border_4;
	z-index: 2;
}

nav {
	height: 3.75rem;
	background-color: $yellow_1;
	
	ul {
		width: 100%;
		margin-bottom: 0.25rem;
		padding: 0;
	}

	ul:nth-child(1), 
	ul:nth-child(3)	{
		display: none;
	}
	
	li {
		width: (104.5% / 7);
		display: inline-flex;
		border-right: $border_4;
		list-style: none;
		text-align: center;

	}
	
	li:first-of-type {
		width: ((104.5% / 7) / 1.85);
		text-align: left;
	}
	
	li:last-of-type {
		border-right: none;
		text-align: right;
	}
	
	a {
		width: 100%;
		font-family: $sofia_font;
		font-size: $font_size_link;
		font-weight: $font_weight_normal;
		color: $purple_link;
	}
}

div#section-splash {
	margin-left: 0;
	margin-right: 0;

	img {
		width: 100%;
		height: 50%;
	}
}

p#p-splash {
	position: absolute;
  margin: 3rem;
  font-size: $font_size_splash;
	font-weight: $font_weight_light;
	text-align: left;
	color: $purple_1;
}

a#splash-learn_more, 
a#what_phss_does-more-mission, 
a#why_phss-more, 
a#help_phss-volunteer, 
a#help_phss-donate {
	display: block;
	font-family: $sofia_font;
  font-size: $font_size_link;
  background-color: $yellow_1;
  padding: 0.7rem 0.8rem 0.8rem 0.8rem;
	border: $border_5;
	color: $purple_link;
}

a#splash-learn_more:hover, 
a#what_phss_does-more-mission:hover, 
a#why_phss-more:hover, 
a#help_phss-volunteer:hover, 
a#help_phss-donate:hover {
	background-color: $yellow_2;
	border: $border_3;
	text-decoration: none;
}

a#splash-learn_more {
	margin-left: 3rem;
	position: absolute;
 	top: 22.25rem;
}

a#what_phss_does-more-mission, 
a#why_phss-more, 
a#help_phss-volunteer, 
a#help_phss-donate {
	width: 12.25rem;
	margin: 0 auto;
}

a#why_phss-more {
	position: relative;
	top: 1rem;
}

a#help_phss-volunteer, 
a#help_phss-donate {
	margin-top: 1.25rem;
}

a#help_phss-volunteer {
	width: 13.81rem;
}

a#help_phss-donate {
	width: 10.3rem;
}

p#p-what_phss_does {
	text-align: left;
}

section#section-why_phss img {
	margin-right: 1rem;
	border: $border_2;
}

div.factoid-why_phss {
	max-width: 12rem;
	margin-right: 7rem;
	display: inline-block;
	flex: 0 0 10.75rem;
	vertical-align: top;
	text-align: left;

	div.factoid-why_phss-header	{
		height: 12.15rem;
		background-image: url('/assets/img/content/polygon_1.gif');
		color: $yellow_1;
	}

	div.factoid-why_phss-header span:first-of-type {
		width: 10.06rem;
		height: 6rem;
		display: block;
		position: relative;
		top: 1.2rem;
		text-align: center;
		font-size: 5rem;
		font-weight: $font_weight_medium;
	}

	div.factoid-why_phss-header span:nth-child(2)	{
		width: 9.5rem;
		margin: 0 0.25rem;
		display: block;
		position: relative;
		top: 1.5rem;
		text-align: center;
		font-weight: $font_weight_medium;
		line-height: 1.25rem;
	}

	div#factoid-why_phss-header-3	span:first-of-type {
		top: 2.1rem;
		font-size: 4rem;
	}

	p.p-why_phss-factoid	{
		position: relative;
		top: 0.75rem;
		text-align: center;
	}

	p.p-why_phss-factoid:first-line {
		font-weight: $font_weight_medium;
	}
}

div#factoid-why_phss-4 {
	margin-right: 0;
}

div.why_phss-row-link {
	height: 4.7rem;
	vertical-align: bottom;
}

section#section-location {
	div.row:nth-child(2) > div > img, 
	div.row:nth-child(3) > div > img {
		border: $border_2;
	}

	div.row:nth-child(4)	{
		margin-top: 3rem;
	}

	p.p-location-directions {
		margin-bottom: 1.5rem;
	}

	p.p-location-directions:first-line {
		font-weight: $font_weight_normal;
	}

	h6 {
		margin-bottom: 0.75rem;
	}

	h6#location-header-address {
		width: 3.8rem;
	}

	h6#location-header-directions	{
		width: 4.8rem;
	}

	div.row:nth-child(3) > div + div > strong {
		font-weight: $font_weight_bold;
		color: $brown_1;
	}
}

section#section-staff_events {
	h5 {
		width: 6.5rem;
		margin: 0 auto 1.5rem auto;
		padding: 0.5rem 0 0.75rem 0;
		border-top: $border_1;
		border-bottom: $border_1;
		text-align: center;
		font-weight: $font_weight_bold;
	}

	div#calendar-staff_events {
		width: 36.75rem;
		padding: 0.7rem 0.5rem;
		border: $border_3;
	}

	#calendar-days_of_week > div {
		width: 4.58em;
		margin: 0 0.12rem;
		padding: 0.1rem 0 0.25rem 0;
		display: inline-block;
		vertical-align: top;
		background-color: $purple_1;
		font-weight: $font_weight_bold;
		text-align: center;
		color: #fff;
	}

	div.calendar-dates-week {
		margin: 0.5rem 0;
	}

	div.calendar-dates-week > div {
		width: 4.58rem;
		height: 3rem;
		margin: 0 0.12rem;
		padding: 0.65rem;
		display: inline-block;
		border: $border_6;
		font-size: 2rem;
		font-weight: $font_weight_xl_light;
		text-align: center;
		line-height: 1.3rem;
		color: $purple_1;
	}
	
	div.calendar-dates-week > div.calendar-dates-empty {
		border: $border_7;
	}
}

section#section-help_phss {
	div.row:nth-child(5), 
	div.row:nth-child(6) {
		margin-top: 1.75rem;
	}

	div.row:nth-child(4) > div > img { 
		border: $border_2;
	}
}

section#section-phss_supporters {
	h5 {
		width: 11.2rem;
		margin: 0 auto 1.5rem auto;
		padding: 0.5rem 0 0.75rem 0;
		border-top: $border_1;
		border-bottom: $border_1;
		text-align: center;
		font-weight: $font_weight_bold;
	}

	div.row:nth-child(4) > div:nth-child(2) > h5 { 
		position: relative;
		top: 2rem;
		right: 2.25rem;
	}
 
	div.row:nth-child(3) > div:nth-child(2), 
	div.row:nth-child(4) > div:nth-child(2) {
		background-image: url('/assets/img/content/phss_supporters-polygon.png');
		background-repeat: no-repeat;
	}

	div.row:nth-child(4) > div:nth-child(2) {
		height: 26rem; 
		background-position: 0px -72px;
	}

	div.row:nth-child(4) > div:first-of-type {
		margin-top: 2rem;
	}
	
	.phss_supporters-photo {
		margin-bottom: 1rem;
		display: inline-flex;
	}

	div.phss_supporters-photo-img {
		width: 6.25rem;
		height: 7.375rem;
		display: inline-block;
		background-image: url(/assets/img/content/phss_supporters-photos.png);
	}

	div#phss_supporters-photo-img-2 {
		background-position: -100px 0;
	}

	div#phss_supporters-photo-img-3 {
		background-position: -200px 0;
	}

	div#phss_supporters-photo-img-4 {
		background-position: -300px 0;
	}

	div.row:nth-child(4) > div > div > ul {
		width: 19rem;
		display: inline-block;
		vertical-align: top;
		font-size: $font_size_base;
	}

	div.phss_supporters-photo ul > li {
		list-style-image: url('/assets/img/content/phss_supporters-bullet.png');
	}

	div.phss_supporters-photo ul > li:first-of-type {
		margin-bottom: 0.25rem;
		list-style-type: none;
		list-style-image: none;
		font-weight: $font_weight_bold;
		line-height: 1.5rem;
	}

	div.row:nth-child(4) > div:nth-child(2) > div	{
		width: 100px;
		margin: 0 auto;
		position: relative;
		top: 1rem;	
		right: 2.25rem;
		background-image: url(/assets/img/content/phss_supporters-businesses.gif);
	}

	#phss_supporters-business-1 {
		height: 113px;
	}

	#phss_supporters-business-2 {
		height: 44px;
		top: 1.75rem;
		background-position: 0 -113px;
	}

	#phss_supporters-business-3 {
		height: 25px;
		top: 3rem;
		background-position: 0 -157px;
	}
}

@media (max-width: 1600px)	{
	section#section-location {
		div.row:nth-child(2) > div > img, 
		div.row:nth-child(3) > div > iframe	{
			width: 31rem;
		}
	}

	section#section-staff_events {
		div#calendar-staff_events {
			width: 39rem;
		}

		#calendar-days_of_week > div, 
		div.calendar-dates-week > div {
			width: 4.9rem;
		}

		div.calendar-dates-week:last-of-type {
			margin-bottom: 0.1rem;
		}
	}

	section#section-phss_supporters {
		div.row:nth-child(3) > div:first-of-type {
			margin-top: 0;
		}

		div.row:nth-child(3) > div > div > ul {
			width: 15rem;
		}

		div.row:nth-child(3) > div:nth-child(2) > h5, 
		div.row:nth-child(3) > div:nth-child(2) > div {
			right: 4.25rem;
		}
	}
}

@media (max-width: 1366px) {
	.container {
		max-width: 1334px; 
	}

	div.factoid-why_phss {
		margin-right: 3.9rem;
	}

	section#section-phss_supporters {
		div.row:nth-child(4) > div:nth-child(2) > h5, 
		div.row:nth-child(4) > div:nth-child(2) > div {
			right: 1.5rem;
		}

		div.row:nth-child(4) > div > div > ul	{
			width: 14rem;
		}
	}
}

@media (max-width: 1024px)	{
	.container {
		max-width: 976px; 
	}

	section {
		margin: 3rem 0;
	}

	h3 {
		width: 75%;
		margin: 0 auto 2.5rem auto;
	}

	a#splash-learn_more, 
	a#what_phss_does-more-mission, 
	a#why_phss-more, 
	a#help_phss-volunteer, 
	a#help_phss-donate { 
		font-size: $font_size_base_ipad;
	}

	div.col-ipad-4 {
		flex: 0 0 33.3333333333%;
  	max-width: 33.3333333333%;
	}

	div.col-ipad-5 {
		max-width: 41.6666666667%;
		flex: 0 0 41.6666666667%;
	}

	div.col-ipad-6 {
		max-width: 50%;
		margin-top: 1.75rem;
		flex: 0 0 50%;
	}

	div.col-ipad-7 {
		flex: 0 0 58.3333333333%;
  	max-width: 58.3333333333%;
	}

	div.col-ipad-9 {
		max-width: 75%;
		flex: 0 0 75%;
	}

	div.col-ipad-10 {
		flex: 0 0 83.3333333333%;
  	max-width: 83.3333333333%;
	}

	div.col-ipad-12 {
		max-width: 100%;
		flex: 0 0 100%;
	}

	div.col-ipad-2, 
	div.col-ipad-4, 
	div.col-ipad-5, 
	div.col-ipad-6, 
	div.col-ipad-10,  
	div.col-ipad-12 {
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		position: relative;
	}
	
	.offset-ipad-1 {
		margin-left: 8.3333333333%;
	}

	header {
		padding: 0.56rem 2rem;

		li {
			margin: 0 0.8rem;
		}
	
		a {
			font-size: $font_size_base_ipad;
		}
	}	

	.navbar {
		padding: 0 2rem;
	}

	nav {
		ul {
			margin-bottom: 0;
		}

		li {
			width: (102.5% / 7);
			border-right: none;
			vertical-align: middle;
		}
		
		li:first-of-type {
			width: ((102.5% / 7) / 1.85);
			text-align: left;
		}

		li:last-of-type {
			margin-left: 0.15rem;
			text-align: center;
		}

		a {
			font-size: 1rem;
		}
	}

	div#section-splash {
		p#p-splash {
			margin: 1rem;
			font-size: $font_size_base;
		}

		a#splash-learn_more {
			margin-left: 1rem;
			top: 17.25rem;
		}
	}

	section#section-what_phss_does {
		p#p-what_phss_does {
			width: 80%;
			margin: 0 auto;
			text-align: justify;
		}

		div.row:nth-child(2) > div:nth-child(2), 
		div.row:nth-child(2) > div:nth-child(3)	{
			margin-top: 1.75rem;
		}

		div.row:nth-child(2) > div:nth-child(2) > img {
			width: 15rem;
		}

		hr {
			width: 81%;
		}
	}

	section#section-why_phss {
		div.col-ipad-12 {
			text-align: center !important;
		}

		div.col-ipad-2 {
			position: relative;
			top: 0.75rem;
		}

		div.row:nth-child(2) > div:first-of-type > img {
			width: 15.63rem;
		}

		div.factoid-why_phss {
			margin-right: 0;
			display: inline;
		}

		div.factoid-why_phss-header {
			background-position: 50% 0;
			background-repeat: no-repeat;
		}

		div.factoid-why_phss-header span {
			margin: 0 auto;
		}

		div.factoid-why_phss-header span:first-of-type	{
			padding-top: 1.2rem;
			top: 0;
		}

		div#factoid-why_phss-header-3 span:first-of-type {
			padding-top: 2.1rem;
			top: 0;
		}

		p.p-why_phss-factoid {
			width: 65%;
			margin: 0 auto;
		}
	}

	section#section-location {
		div.col-ipad-12 {
			text-align: center !important;
		}

		div.col-ipad-12.col-xl-3 {
			margin-top: 1.75rem;
		}

		div.col-ipad-6 {
			float: left;
			text-align: left;
		}

		div.col-ipad-10 {
			margin: 0 auto;
		}

		p.p-location-desc {
			width: 80%;
			margin: 0 auto 1rem auto;
		}

		div.row:nth-child(3) > div:nth-child(2) > div:nth-child(2) > strong, 
		div.row:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ol {
			font-size: $font_size_base;
		}

	}

	section#section-staff_events {
		div.col-6.col-ipad-12 {
			margin-top: 1.75rem;
		}
		
		p.p-staff_events {
			width: 80%;
			margin: 0 auto 1.75rem auto;
		}

		div#calendar-staff_events {
			margin: 0 auto;
		}
	}

	section#section-help_phss {
		div.row:nth-child(3) > div > img {
			width: 39rem;
		}

		a#help_phss-volunteer {
			width: 11.5rem;
		}

		a#help_phss-donate {
			width: 8.6rem;
		}
	}

	section#section-phss_supporters {
		div.row:nth-child(2) {
			display: none;
		}

		div.row:nth-child(3) > div > div > ul {
			width: 25rem;
		}

		div.row:nth-child(2) > div:nth-child(2), 
		div.row:nth-child(3) > div:nth-child(2) {
			background-image: none;
		}

		div.row:nth-child(3) > div:nth-child(2) > h5	{
			margin: 0 0 0 1.75rem;
			position: initial;
			top: 3rem;
			right: 0;
		}

		div.row:nth-child(3) > div:nth-child(2) > div {
			margin: 0.75rem 0 0 4rem;
			position: initial;
		}

		div#phss_supporters-business-2 {
			top: 3rem;
		}

		div#phss_supporters-business-3 {
			top: 4rem;
		}
	}
}

@media (max-width: 768px)	{
	section:last-of-type {
		margin-bottom: 2rem;
	}

	p, 
	section#section-location div.row:nth-child(3) > div:nth-child(2) > div:nth-child(2) > strong, 
	section#section-location div.row:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ol, 
	section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
		font-size: $font_size_base_ipad;
	}

	h3 {
		font-size: $font_size_header_iphone;
	}

	header {
		ul {
			margin-top: 1.1rem;
		}
	}

	nav {
		ul {
			margin-bottom: 0;
		}

		li {
			width: (102.25% / 7);
			border-right: none;
			vertical-align: middle;
		}
		
		li:first-of-type {
			width: ((102.25% / 7) / 1.85);
			text-align: left;
		}

		li:last-of-type {
			margin-left: 0.15rem;
			text-align: center;
		}
	}

	div#section-splash {
		p#p-splash {
			margin: 1rem;
			font-size: $font_size_base_ipad;
		}

		a#splash-learn_more {
			margin-left: 1rem;
			top: 12.25rem;
		}
	}

	section#section-what_phss_does {
		div.row:nth-child(2) > div.col-3.col-ipad-12 {
			margin-left: 0; 
		}
	}

	section#section-phss_supporters {
		div.row:nth-child(3) > div {
			max-width: 100%;
			flex: 0 0 100%;
		}

		div.row:nth-child(3) > div > div > ul {
			width: 27.5rem;
		}

		div.row:nth-child(3) > div:nth-child(2)	{
			height: auto;
		}

		div.row:nth-child(3) > div:nth-child(2) > h5 {
			margin: 0 auto;
		}

		div.row:nth-child(3) > div:nth-child(2) > div {
			margin: 1.25rem auto;
		}
	}
}

@media (max-width: 414px) {
	section {
		margin: 3rem 0;
	}

	section:last-of-type {
		margin-bottom: 2rem;
	}

	h3 {
		font-size: $font_size_header_iphone;
	}

	p {
		width: 85%;
	}

	div.col-iphone-12 {
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		position: relative;
	}

	div.col-iphone-12 {
		max-width: 100%;
		flex: 0 0 100%;
	}

	div.offset-iphone-0 {
		margin-left: 0;
	}

	.container {
		max-width: 414px;
		position: relative;
		top: 18rem;
	}

	header {
		a {
			width: 12.18rem;
			margin: 0 auto;
			display: block;
		}

		ul {
			display: none;
		}
	}

	.navbar {
		height: 100%;
		padding: 0.75rem 0;
		display: block;
	}

	nav {
		ul:first-of-type {
			display: block;
		}

		ul:nth-child(2), 
		ul:nth-child(3)	{
			display: none;
		}

		li {
			width: 100%;
			margin-bottom: 0.75rem;
			display: block;
		}

		ul:first-of-type li:last-of-type {
			width: 100%;
			margin-left: 0;
			margin-bottom: 0.25rem;
		}

		ul:nth-child(2) > li:first-of-type {
			width: 100%;
			text-align: center;
		}

		a {
			font-size: $font_size_base;
		}

		a:first-of-type {
			margin-top: 0.5rem;
		}
	}

	div#section-splash {
		p#p-splash {
			width: 92%;
			margin: 10.5rem 1rem 1rem 0;
			text-align: justify;
		}

		a#splash-learn_more {
			margin-left: 0;
			top: 24rem;
			left: 36%;
		}
	}

	section#section-what_phss_does {
		p#p-what_phss_does {
			width: 92%;
		}

		div.row:nth-child(2) > div:nth-child(2) {
			margin: 2.75rem 0;
		}

		div.row:nth-child(2) > div:nth-child(2) > img {
			width: 22rem;
			display: block;
			margin: 0 auto;
		}

		div.row:nth-child(2) > div:nth-child(3)	{
			margin-top: 0;
		}

		hr {
			width: 76%;
		}
	}

	section#section-why_phss {
		div.row:nth-child(2) > div:first-of-type > img	{
			width: 16rem;
			margin-right: 0;
		}
	}

	section#section-location {
		div.row:nth-child(2) > div > img {
			width: 22rem;
		}

		p.p-location-desc {
			width: 92%;
		}

		div.row:nth-child(3) {
			margin-top: 2rem;
		}

		div.row:nth-child(3) > div > iframe {
			width: 22rem;
		}

		div.row:nth-child(3) > div:nth-child(2) {
			margin-top: 0;
		}

		div.row:nth-child(3) > div:nth-child(2) > div.col-iphone-12:nth-child(2) {
			margin-top: 0;
			text-align: left;
		}

		div.row:nth-child(3) > div:nth-child(2) > div.col-iphone-12:nth-child(2) > div:nth-child(2) > ol:nth-child(2)	{
			margin-bottom: 0;
		}
	}

	section#section-staff_events {
		p.p-staff_events {
			width: 92%;
		}

		div.col-6.col-iphone-12 {
			margin-top: 0.5rem;
		}

		div#calendar-staff_events {
			width: 22rem;
		}

		div#calendar-days_of_week > div {
			width: 2.46rem;
			font-size: $font_size_calendar_days_iphone;
		}

		div.calendar-dates-week > div {
			width: 2.46rem;
			height: 2.6rem;
			padding: 0.5rem 0;
			font-size: $font_size_calendar_dates_iphone;
		}

		div#calendar-dates-week-5 {
			margin: 0.5rem 0 0 0;
		}
	}

	section#section-help_phss {
		p.p-help_phss {
			width: 92%;
			margin: 0 auto;
		}

		p.p-help_phss.after_first {
			margin: 1rem auto 0 auto;
		}

		div.row:nth-child(3) > div > img {
			width: 22rem;
		}

		div.row:nth-child(4)	{
			display: none;
		}

		a#help_phss-volunteer {
			margin-top: 1.25rem;
		}
	}

	section#section-phss_supporters {
		div.row:nth-child(3) > div > div > ul {
			width: 15rem;
		}

		div.row:nth-child(3) > div:nth-child(2) > h5 {
			margin: 0 auto;
		}

		div.row:nth-child(3) > div:nth-child(2) > div {
			margin: 1.25rem auto;
		}
	}
}

@media (max-width: 375px) {
	div#section-splash {
		p#p-splash	{
			width: 92%;
			margin: 9rem 1rem 1rem 0;
		}

		a#splash-learn_more	{
			top: 24rem;
			left: 34%;
		}
	}

	section#section-location {
		div.row:nth-child(2) > div > img, 
		div.row:nth-child(3) > div > iframe {
			width: 20rem;
		}
	}

	section#section-phss_supporters {
		div.row:nth-child(3) > div > div > ul {
			width: 12rem;
		}
	} 
}
