/* ******* ******* style.sass ~ The SASS file used to render style.css ******* ******* */

$yellow_1: #fecc3c;
$yellow_2: #fbd055;
$orange_1: #ec9053;
$orange_2: #cd854b;
$orange_3: #efae60;
$purple_link: #8c0d98;
$purple_1: #c86678;
$brown_1: #483729;

$border_1: 2px solid #fecc3c;
$border_2: 2px solid #ec9053;
$border_3: 2px solid #e86678;
$border_4: 2px solid #efae60;
$border_5: 2px solid #c86678;

$sofia_font: "sofia-pro-soft";
$muli_font: "muli";

$font_weight_light: 300;
$font_weight_normal: 400;
$font-weight_medium: 500;
$font_weight_bold: 700;

$font_size_base: 1.25rem;
$font_size_link: 1.25rem;
$font_size_splash: 1.45rem;

a {
	font-family: $sofia_font;
}

p, 
h3, 
h5 {
  font-family: $muli_font;
}

p {
	font-weight: $font_weight_light;
	letter-spacing: 0.4px;
}

p:first-line {
	font-weight: $font_weight_bold;
}

section {
	margin: 3.5rem 0;
}

h3 {
	width: 36%;
	margin: 0 auto 3.5rem auto;
	padding: 1rem 0 1.2rem 0;
	border-top: $border_1;
	border-bottom: $border_1;
	font-weight: $font-weight_bold;
	color: $purple_1;
}

h5 {
	color: $purple_1;
}

hr {
	border-top: $border_1;
}

body {
	margin: 0;
}

header {
	width: 100%;
	height: 5rem;
	padding: 0.56rem 4rem;
	border-top: $border_1;
	border-bottom: $border_2;
	
	ul {
		margin-top: 0.7rem;
		float: right;
		
	}

	li {
		margin: 0 0.98rem;
		display: inline-flex;
		list-style: none;
	}
	
	a {
		font-family: $sofia_font;
		font-size: $font_size_link;
		font-weight: $font_weight_normal;
		text-decoration: underline;
		color: $purple_link;
	}
}

.navbar {
	padding: 0 4rem;
	border-bottom: $border_4;
}

nav {
	height: 3.75rem;
	background-color: $yellow_1;
	
	ul {
		width: 100%;
		margin-bottom: 0.5rem;
		padding: 0;
	}
	
	li {
		width: (104.5% / 7);
		display: inline-flex;
		border-right: $border_4;
		list-style: none;
		text-align: center;

	}
	
	li:first-of-type {
		width: ((104.5% / 7) / 1.85);
		text-align: left;
	}
	
	li:last-of-type {
		border-right: none;
		text-align: right;
	}
	
	a {
		width: 100%;
		font-family: $sofia_font;
		font-size: $font_size_link;
		font-weight: $font_weight_normal;
		color: $purple_link;
	}

	a:hover {
		text-decoration: underline;
		color: $purple_link;
	}
}

div#section-splash {
	margin-left: 0;
	margin-right: 0;

	img {
		width: 100%;
		height: 50%;
	}
}

p#p-splash {
	position: absolute;
  margin: 3rem 5rem;
  width: 30%;
  font-size: $font_size_splash;
	font-weight: $font_weight_light;
	color: $purple_1;
}

a#splash-learn_more, 
a#what_phss_does-more-mission {
	display: block;
	font-family: $sofia_font;
  font-size: $font_size_link;
  background-color: $yellow_1;
  padding: 0.8rem;
	border: $border_5;
	color: $purple_link;
}

a#splash-learn_more:hover, 
a#what_phss_does-more-mission:hover {
	background-color: $yellow_2;
	border: $border_3;
	text-decoration: none;
}

a#splash-learn_more {
	margin-left: 5rem;
	position: absolute;
 	top: 33.25rem;
}

a#what_phss_does-more-mission {
	width: 12.25rem;
	margin: 0 auto;
}

p#p-what_phss_does {
	font-size: $font_size_base;
	color: $brown_1;
}

p#p-what_phss_does:first-line {
	font-weight: $font_weight_normal;
}

section#section-why_phss img {
	margin-right: 1rem;
	border: $border_2;
}

div.factoid-why_phss {
	max-width: 12rem;
	margin-right: 7rem;
	display: inline-block;
	flex: 0 0 10.75rem;
	vertical-align: top;
	text-align: left;

	div.factoid-why_phss-header	{
		height: 12rem;
		background-image: url('/assets/img/content/polygon_1.gif');
		color: #fecc3c;
	}

	div.factoid-why_phss-header span:first-of-type {
		width: 10.06rem;
		height: 6rem;
		display: block;
		position: relative;
		top: 1.2rem;
		text-align: center;
		font-size: 5rem;
		font-weight: $font-weight_medium;
	}

	div.factoid-why_phss-header span:nth-child(2)	{
		width: 9.5rem;
		margin: 0 0.25rem;
		display: block;
		position: relative;
		top: 1.5rem;
		text-align: center;
		font-weight: $font-weight_medium;
		line-height: 1.25rem;
	}

	div#factoid-why_phss-header-3	span:first-of-type {
		top: 2.1rem;
		font-size: 4rem;
	}

	p.p-why_phss-factoid	{
		position: relative;
		top: 0.75rem;
		text-align: center;
	}
}

div#factoid-why_phss-4 {
	margin-right: 0;
}

.container {
	@media (min-width: 1366px) {
		.container {
			max-width: 1334px; 
		}
	} 
}