/* ******* ******* style.sass ~ The SASS file used to render style.css ******* ******* */
a {
  font-family: "sofia-pro-soft"; }

p,
h3,
h4,
h5,
h6,
ol,
ul,
div#calendar-events,
section#section-phss_supporters > div.row:nth-child(4) > div > div > ul,
#content-form-contact a,
#input-contact-full_name,
#input-contact-email_address,
#form-contact textarea,
#input-contact-reset,
#input-contact-submit,
#content-form-contact label,
#contact-confirmation_message p {
  font-family: "muli"; }

li {
  font-size: 1.25rem;
  line-height: 2;
  color: #483729; }

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #483729; }

p:first-of-type:first-line,
p.bold_first_line:first-line {
  font-weight: 700; }

p.after_first:first-line {
  font-weight: 400; }

section {
  margin: 3rem 0 5rem 0; }
  section div:nth-child(2) > div > h3 {
    width: 36%;
    border-top: 2px solid #fecc3c;
    border-bottom: 2px solid #fecc3c; }

h3,
h6 {
  margin: 0 auto 3.5rem auto;
  padding: 1rem 0 1.2rem 0;
  font-weight: 700;
  color: #c86678; }

h5,
h6 {
  color: #c86678; }

h6 {
  margin: 0;
  padding: 0.3rem 0 0.5rem 0; }

hr {
  border-top: 2px solid #fecc3c; }

strong {
  font-family: "muli";
  font-size: 1.25rem;
  font-weight: 700; }

body {
  margin: 0; }

header {
  width: 100%;
  height: 5rem;
  padding: 0.56rem 4rem;
  border-top: 2px solid #fecc3c; }
  header ul {
    margin-top: 0.7rem;
    float: right; }
  header li {
    margin: 0 0.98rem;
    display: inline-flex;
    list-style: none; }
  header li:last-of-type {
    margin-right: 0; }
  header a {
    font-family: "sofia-pro-soft";
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: underline;
    color: #8c0d98; }

.navbar {
  width: 100%;
  padding: 0 4rem;
  border-top: 2px solid #ec9053;
  border-bottom: 2px solid #efae60;
  z-index: 2; }

nav {
  height: 3.75rem;
  background-color: #fecc3c; }
  nav ul {
    width: 100%;
    margin-bottom: 0.25rem;
    padding: 0; }
  nav ul:nth-child(1),
  nav ul:nth-child(3) {
    display: none; }
  nav li {
    display: inline-flex;
    border-right: 2px solid #efae60;
    list-style: none;
    text-align: center; }
  nav li:first-of-type {
    text-align: left; }
  nav li:last-of-type {
    border-right: none;
    text-align: right; }
  nav a {
    width: 100%;
    font-family: "sofia-pro-soft";
    font-size: 1.25rem;
    font-weight: 400;
    color: #8c0d98; }

div#section-splash {
  margin-left: 0;
  margin-right: 0; }
  div#section-splash img {
    width: 100%;
    height: 50%; }
  div#section-splash .carousel {
    width: 100%; }
    div#section-splash .carousel div.carousel-item a {
      width: 10.82rem;
      margin: 0 auto;
      position: absolute; }
    div#section-splash .carousel a#a-splash-learn_more {
      width: 8.45rem;
      position: absolute;
      left: 1rem; }
    div#section-splash .carousel .carousel-control-prev,
    div#section-splash .carousel .carousel-control-next {
      width: 4%; }

p#p-splash,
p#p-splash-pdsa {
  position: absolute;
  margin: 3rem;
  font-size: 1.45rem;
  font-weight: 300;
  text-align: left;
  line-height: 2.1rem;
  color: #efae60; }

p#p-splash-pdsa {
  width: 100%;
  margin: 0 auto;
  bottom: 16.5rem;
  text-align: center;
  color: #c86678; }

p#p-splash-pdsa a {
  color: #8c0d98; }

a.a-button,
a#why_phss-more,
#input-contact-reset,
#input-contact-submit {
  display: block;
  font-family: "sofia-pro-soft";
  font-size: 1.25rem;
  background-color: #fecc3c;
  padding: 0.7rem 0.8rem 0.8rem 0.8rem;
  border: 2px solid #c86678;
  color: #8c0d98; }

div#content-form-contact a,
#input-contact-reset,
#input-contact-submit {
  font-size: 1.1rem; }

a.a-button:hover,
a#why_phss-more:hover {
  background-color: #fbd055;
  border: 2px solid #e86678;
  text-decoration: none; }

a.a-button,
a#why_phss-more {
  width: 12.25rem;
  margin: 0 auto; }

a#a-contact-back {
  width: 10.7rem; }

a#a-what_phss_does-more-base,
a#a-what_phss_does-more-mission,
a#a-help_phss-sponsor_cmmt,
a#a-help_phss-presenting,
a#a-help_phss-platinum,
a#a-help_phss-gold,
a#a-help_phss-silver,
a#a-help_phss-exhibitor {
  margin-bottom: 1rem; }

a#why_phss-more {
  position: relative;
  top: 1rem; }

a#help_phss-volunteer,
a#help_phss-donate {
  margin-top: 1.25rem; }

a#help_phss-volunteer {
  width: 13.81rem; }

a#help_phss-donate {
  width: 10.3rem; }

section#section-what_phss_does ul > li,
section#section-help_phss .div-help_phss ul > li,
section#section-phss_supporters div.phss_supporters-photo ul > li {
  list-style-image: url("/phss/assets/img/content/phss_supporters-bullet-dk.png"); }

section#section-help_phss .div-help_phss ul > ul > li,
section#section-phss_supporters div.phss_supporters-photo ul > ul > li {
  list-style-image: url("/phss/assets/img/content/phss_supporters-bullet-lt.png"); }

section#section-what_phss_does .visible {
  display: block; }

section#section-what_phss_does .not_visible {
  display: none; }

section#section-what_phss_does p.p-what_phss_does {
  text-align: left; }

section#section-what_phss_does div.row:nth-child(3) {
  margin-bottom: 3rem; }

section#section-what_phss_does div.row:nth-child(3) > div:nth-child(1) h5 {
  margin-bottom: 0.75rem; }

section#section-what_phss_does p#p-what_phss_does-services {
  margin-bottom: 0; }

section#section-why_phss img {
  margin-right: 1rem;
  border: 2px solid #ec9053; }

div.factoid-why_phss {
  max-width: 12rem;
  margin-right: 7rem;
  display: inline-block;
  flex: 0 0 10.75rem;
  vertical-align: top;
  text-align: left; }
  div.factoid-why_phss div.factoid-why_phss-header {
    height: 12.13rem;
    background-image: url("/phss/assets/img/content/polygon_1.gif");
    color: #fecc3c; }
  div.factoid-why_phss div.factoid-why_phss-header span:first-of-type {
    width: 10.06rem;
    height: 6rem;
    display: block;
    position: relative;
    top: 1.2rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 500; }
  div.factoid-why_phss div.factoid-why_phss-header span:nth-child(2) {
    width: 9.5rem;
    margin: 0 0.25rem;
    display: block;
    position: relative;
    top: 1.5rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.25rem; }
  div.factoid-why_phss div#factoid-why_phss-header-3 span:first-of-type {
    top: 2.1rem;
    font-size: 4rem; }
  div.factoid-why_phss p.p-why_phss-factoid {
    position: relative;
    top: 0.75rem;
    text-align: center; }
  div.factoid-why_phss p.p-why_phss-factoid:first-line {
    font-weight: 500; }

div#factoid-why_phss-4 {
  margin-right: 0; }

div.why_phss-row-link {
  height: 4.7rem;
  vertical-align: bottom; }

section#section-location div.row:nth-child(2) > div > img,
section#section-location div.row:nth-child(3) > div > img {
  border: 2px solid #ec9053; }

section#section-location div.row:nth-child(4) {
  margin-top: 3rem; }

section#section-location p.p-location-directions {
  margin-bottom: 1.5rem; }

section#section-location p.p-location-directions:first-line {
  font-weight: 400; }

section#section-location h6 {
  margin-bottom: 0.75rem; }

section#section-location h6#location-header-address {
  width: 3.8rem; }

section#section-location h6#location-header-directions {
  width: 4.8rem; }

section#section-location div.row:nth-child(3) > div + div > strong {
  font-weight: 700;
  color: #483729; }

section#section-events #a-events-sponsor_cmmt {
  margin-top: 2rem; }

section#section-events iframe {
  margin-top: 2rem;
  border: 2px solid #ec9053; }

section#section-events p.p-events {
  margin-bottom: 1.75rem; }

section#section-events div.row:nth-child(3) {
  margin-bottom: 1.75rem; }

section#section-events div.row:nth-child(5) > div:first-of-type h5:first-of-type {
  width: 13.6rem;
  margin: 3rem auto;
  padding-bottom: 0.75rem;
  border-top: 2px solid #fecc3c;
  border-bottom: 2px solid #fecc3c;
  text-align: center;
  font-weight: 700; }

section#section-events div.row:nth-child(5) > div:first-of-type h5:nth-child(2) {
  width: 9rem; }

section#section-events h5 {
  margin: 0 auto;
  padding: 0.2rem 0;
  text-align: center; }

section#section-events div.row:nth-child(6) .visible {
  display: block; }

section#section-events div.row:nth-child(6) .not_visible {
  display: none; }

section#section-events div.row:nth-child(6) div > div > h6 {
  width: 26rem;
  margin-top: 0.5rem;
  border: none; }

section#section-events div.row:nth-child(6) div > div > h6:nth-child(4) {
  margin-bottom: 2rem; }

section#section-events div.row:nth-child(6) div > #div-events-silver > h6:nth-child(4) {
  margin-bottom: 0; }

section#section-events div.row:nth-child(6) div > #div-events-silver > ul {
  margin-bottom: 2rem; }

section#section-events div.row:nth-child(6) div:nth-child(2) a {
  margin-bottom: 1rem; }

section#section-events div.row:nth-child(6) div:nth-child(2) a#a-events-presenting {
  padding: 0.9rem;
  font-size: 1rem; }

section#section-events div.row:nth-child(7) > div h5:first-of-type {
  width: 21%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0.6rem 0 0.9rem 0;
  border-top: 2px solid #fecc3c;
  border-bottom: 2px solid #fecc3c; }

section#section-events div.row:nth-child(7) > div img {
  margin-top: 3rem;
  margin-bottom: 3rem; }

section#section-events div.row:nth-child(7) > div img:last-of-type {
  margin-bottom: 1rem; }

section#section-events hr {
  margin-top: 3rem; }

section#section-events img {
  margin-top: 2rem;
  border: 2px solid #ec9053; }

section#section-events div.row:nth-child(6) > div > hr {
  margin-top: 0; }

section#section-events div.row:nth-child(8) img#events-img-feed-flyer {
  margin-top: 3rem; }

section#section-events div#calendar-events {
  width: 36.75rem;
  padding: 0.7rem 0.5rem;
  border: 2px solid #e86678; }

section#section-events #calendar-days_of_week > div {
  width: 4.58em;
  margin: 0 0.12rem;
  padding: 0.1rem 0 0.25rem 0;
  display: inline-block;
  vertical-align: top;
  background-color: #c86678;
  font-weight: 700;
  text-align: center;
  color: #fff; }

section#section-events div.calendar-dates-week {
  margin: 0.5rem 0; }

section#section-events div.calendar-dates-week > div {
  width: 4.58rem;
  height: 3rem;
  margin: 0 0.12rem;
  padding: 0.65rem;
  display: inline-block;
  border: 1px dashed #fecc3c;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.3rem;
  color: #c86678; }

section#section-events div.calendar-dates-week > div.calendar-dates-empty {
  border: 1px dotted #fecc3c; }

section#section-help_phss div.row:nth-child(3) {
  margin-bottom: 1.5rem;
  text-align: center; }
  section#section-help_phss div.row:nth-child(3) div h5 {
    border-top: none;
    font-weight: 500; }
  section#section-help_phss div.row:nth-child(3) h5:nth-child(3) {
    margin-bottom: 1.75rem; }
  section#section-help_phss div.row:nth-child(3) hr {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  section#section-help_phss div.row:nth-child(3) hr:nth-child(7) {
    margin-bottom: 1rem; }
  section#section-help_phss div.row:nth-child(3) div > img {
    border: 2px solid #ec9053; }

section#section-help_phss div.row:nth-child(4) h5 {
  width: 13.6rem;
  margin: 0 auto 2rem auto;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #fecc3c;
  text-align: center;
  font-weight: 700; }

section#section-phss_supporters h5 {
  width: 11.2rem;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem 0 0.75rem 0;
  border-top: 2px solid #fecc3c;
  border-bottom: 2px solid #fecc3c;
  text-align: center;
  font-weight: 700; }

section#section-phss_supporters div.row:nth-child(4) > div:nth-child(2) > h5 {
  position: relative;
  top: 2rem;
  right: 2.25rem; }

section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2),
section#section-phss_supporters div.row:nth-child(4) > div:nth-child(2) {
  background-image: url("/phss/assets/img/content/phss_supporters-polygon.png");
  background-repeat: no-repeat; }

section#section-phss_supporters div.row:nth-child(4) > div:nth-child(2) {
  height: 26rem;
  background-position: 0px -72px; }

section#section-phss_supporters div.row:nth-child(4) > div:first-of-type {
  margin-top: 2rem; }

section#section-phss_supporters .phss_supporters-photo {
  margin: 0 5% 1rem 5%;
  display: inline-flex; }

section#section-phss_supporters div.phss_supporters-photo-img {
  width: 6.25rem;
  height: 7.375rem;
  display: inline-block;
  background-image: url("/phss/assets/img/content/phss_supporters-photos.png"); }

section#section-phss_supporters div#phss_supporters-photo-img-2 {
  background-position: -100px 0; }

section#section-phss_supporters div#phss_supporters-photo-img-3 {
  background-position: -200px 0; }

section#section-phss_supporters div#phss_supporters-photo-img-4 {
  background-position: -300px 0; }

section#section-phss_supporters div.row:nth-child(4) > div > div > ul {
  width: 18rem;
  display: inline-block;
  vertical-align: top;
  font-size: 1.25rem; }

section#section-phss_supporters div.phss_supporters-photo ul li:first-of-type {
  margin-bottom: 0.25rem;
  list-style-type: none;
  list-style-image: none;
  font-weight: 700;
  line-height: 1.5rem; }

section#section-phss_supporters div.phss_supporters-photo ul ul li:first-of-type {
  list-style-image: url("/phss/assets/img/content/phss_supporters-bullet-lt.png");
  font-weight: 400; }

section#section-phss_supporters div.row:nth-child(4) > div:nth-child(2) > div {
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: 1rem;
  right: 2.25rem;
  background-image: url("/phss/assets/img/content/phss_supporters-businesses.gif"); }

section#section-phss_supporters #phss_supporters-business-1 {
  height: 113px; }

section#section-phss_supporters #phss_supporters-business-2 {
  height: 44px;
  top: 1.75rem;
  background-position: 0 -113px; }

section#section-phss_supporters #phss_supporters-business-3 {
  height: 25px;
  top: 3rem;
  background-position: 0 -157px; }

#content-form-contact,
#contact-confirmation_message,
#contact-bkgrnd {
  display: none; }

#content-form-contact,
#contact-bkgrnd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4; }

#contact-bkgrnd {
  background-color: #483729;
  z-index: 3; }

#form-contact {
  width: 20.25em;
  height: 29.75em;
  margin: auto;
  position: relative;
  top: 3em; }

#contact-confirmation_message {
  width: 22.25em;
  height: 27.75em;
  padding: 2em 2.5em;
  position: absolute;
  background-color: #ec9053;
  z-index: 4; }

#input-contact-full_name,
#input-contact-email_address,
#form-contact textarea {
  width: 20.25em; }

#input-contact-reset,
#input-contact-submit {
  margin-top: 0.5em;
  display: inline-block; }

#input-contact-reset:hover,
#input-contact-submit:hover {
  cursor: pointer;
  text-decoration: underline; }

#input-contact-full_name,
#input-contact-email_address,
#form-contact textarea {
  padding: 0.5em;
  border: 3px solid #cd854b;
  color: #483729; }

div#content-form-contact {
  padding: 3em; }
  div#content-form-contact a {
    display: block;
    float: right; }
  div#content-form-contact form#form-contact label {
    margin: 1em 0 0.25em 0;
    display: block;
    color: #ec9053; }

div#contact-confirmation_message p {
  width: 100%;
  padding: 0.25em 0;
  font-size: 1.15em;
  color: #483729; }

@media (max-width: 1920px) {
  nav {
    /* li:first-of-type {
			width: ((106% / 3) / 1.5);
		} */ }
    nav li {
      width: 33%; }
    nav li:last-of-type {
      text-align: right; }
  div#section-splash .carousel div.carousel-item a {
    left: 45%; }
  div#section-splash .carousel a#a-splash-learn_more {
    top: 17.25rem;
    left: 4rem; }
  div#section-splash .carousel p#p-splash-pdsa {
    top: 21.75rem;
    left: 39.25rem; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    top: 30.5rem;
    bottom: auto;
    left: 53.75rem; }
  div#section-splash .carousel a.a-pdsa {
    bottom: 8rem; }
  div#section-splash .carousel a#a-splash-pdsa_4 {
    bottom: 7.5rem; }
  section#section-what_phss_does div.row:nth-child(3) {
    margin-bottom: 5rem; }
  section#section-what_phss_does p#p-what_phss_does-desc {
    width: 43%;
    margin: 0 auto; }
  section#section-events {
    margin-bottom: 8rem; }
    section#section-events h5 {
      margin: 0 auto 0.25rem auto; }
    section#section-events hr {
      width: 36%; }
    section#section-events div.row:nth-child(4) > div hr {
      width: 93%; }
    section#section-events div.row:nth-child(6) > div:nth-child(2) hr {
      margin: 1rem auto 1.5rem auto; }
  section#section-phss_supporters div.phss_supporters-photo-img {
    margin-left: 2rem; }
  #contact-confirmation_message {
    height: 22.75rem;
    margin: 11% 38.25%; } }

@media (max-width: 1600px) {
  nav {
    /* li:first-of-type {
			width: ((105.6% / 5) / 1.5);
		} */ }
    nav li {
      width: 33%; }
    nav li:last-of-type {
      text-align: right; }
  div#section-splash .carousel a#a-splash-learn_more {
    top: 15.25rem; }
  div#section-splash .carousel p#p-splash-pdsa {
    top: 17.5rem;
    bottom: auto;
    left: 29rem;
    font-size: 1.25rem;
    line-height: 1.75rem; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    top: 25rem;
    bottom: auto;
    left: 44rem; }
  div#section-splash .carousel a.a-pdsa,
  div#section-splash .carousel a#a-splash-pdsa_4 {
    bottom: 6.5rem; }
  section#section-what_phss_does p#p-what_phss_does-desc {
    width: 55%; }
  section#section-location div.row:nth-child(2) > div > img,
  section#section-location div.row:nth-child(3) > div > iframe {
    width: 31rem; }
  section#section-events {
    /* div#calendar-events {
			width: 39rem;
		}

		#calendar-days_of_week > div, 
		div.calendar-dates-week > div {
			width: 4.9rem;
		}

		div.calendar-dates-week:last-of-type {
			margin-bottom: 0.1rem;
		} */ }
    section#section-events div.row:nth-child(6) > div:nth-child(2) hr {
      width: 100%; }
  section#section-phss_supporters div.phss_supporters-photo-img {
    margin-left: 1rem; }
  section#section-phss_supporters div.row:nth-child(3) > div:first-of-type {
    margin-top: 0; }
  section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
    width: 33rem; }
  section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2) > h5,
  section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2) > div {
    right: 4.25rem; }
  #contact-confirmation_message {
    margin: 11% 38.25%; } }

@media (max-width: 1366px) {
  nav {
    /* li:first-of-type {
			width: ((105.5% / 5) / 1.5);
		} */ }
    nav li {
      width: 33%; }
    nav li:last-of-type {
      text-align: right; }
  .container {
    max-width: 1334px; }
  div#section-splash .carousel div.carousel-item a {
    left: 43.7%; }
  div#section-splash .carousel a#a-splash-learn_more {
    top: 19.5rem;
    left: 4rem; }
  div#section-splash .carousel p#p-splash-pdsa {
    top: 15rem;
    bottom: auto;
    left: 24.25rem;
    font-size: 1rem;
    line-height: 1.5rem; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    top: 21rem;
    bottom: auto;
    left: 36.25rem; }
  div#section-splash .carousel a.a-pdsa,
  div#section-splash .carousel a#a-splash-pdsa_4 {
    bottom: 5.25rem; }
  section#section-events iframe {
    width: 50rem;
    height: 28.2rem; }
  section#section-events div.row:nth-child(7) > div img {
    width: 50rem;
    height: auto; }
  section#section-why_phss div.factoid-why_phss {
    margin-right: 1rem; }
  section#section-location div.row:nth-child(3) > div > img,
  section#section-location div.row:nth-child(4) > div > iframe {
    width: 30.25rem; }
  section#section-phss_supporters .phss_supporters-photo {
    margin: 0 5% 1rem 12%; }
  section#section-phss_supporters div.phss_supporters-photo-img {
    margin-left: 0.75rem; }
  section#section-phss_supporters div.row:nth-child(4) > div:nth-child(2) > h5,
  section#section-phss_supporters div.row:nth-child(4) > div:nth-child(2) > div {
    right: 0.6rem; }
  section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
    width: 33rem; }
  #contact-confirmation_message {
    margin: 10% 36.5%; } }

@media (max-width: 1024px) {
  .container {
    max-width: 976px; }
  section {
    margin: 3rem 0 4.5rem 0; }
  h3 {
    width: 75%;
    margin: 0 auto 2.5rem auto; }
  a#a-splash-learn_more,
  a#a-what_phss_does-more-mission,
  a#why_phss-more,
  a#a-help_phss-sponsor_cmmt,
  a#a-help_phss-presenting,
  a#a-help_phss-platinum,
  a#a-help_phss-gold,
  a#a-help_phss-silver,
  a#a-help_phss-exhibitor,
  a#help_phss-donate {
    font-size: 1rem; }
  div.offset-ipad-0 {
    margin-left: 0; }
  div.offset-ipad-3 {
    margin-left: 25%; }
  div.col-ipad-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  div.col-ipad-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  div.col-ipad-6 {
    max-width: 50%;
    margin-top: 1.75rem;
    flex: 0 0 50%; }
  div.col-ipad-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  div.col-ipad-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  div.col-ipad-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  div.col-ipad-7,
  div.col-ipad-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  div.col-ipad-2,
  div.col-ipad-4,
  div.col-ipad-5,
  div.col-ipad-6,
  div.col-ipad-10,
  div.col-ipad-12 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative; }
  .offset-ipad-1 {
    margin-left: 8.3333333333%; }
  .offset-ipad-2 {
    margin-left: 16.6666666667%; }
  header {
    padding: 0.56rem 2rem; }
    header ul {
      margin-top: 0.9rem; }
    header li {
      margin: 0 0.8rem; }
    header a {
      font-size: 1rem; }
  .navbar {
    padding: 0 2rem; }
  nav {
    /* li:first-of-type {
			width: ((105% / 5) / 1.5);
			text-align: left;
		} */ }
    nav ul {
      margin-bottom: 0; }
    nav li {
      width: 33%;
      border-right: none;
      vertical-align: middle; }
    nav li:last-of-type {
      text-align: right; }
    nav a {
      font-size: 1rem; }
  div#section-splash .carousel p#p-splash {
    margin: 1rem;
    font-size: 1.25rem; }
  div#section-splash .carousel div.carousel-item a {
    left: 42%; }
  div#section-splash .carousel a#a-splash-learn_more {
    width: 7.2rem;
    top: 17rem;
    left: 2rem; }
  div#section-splash .carousel div.col-ipad-6 {
    margin-top: 0; }
  div#section-splash .carousel p#p-splash-pdsa {
    top: 12.25rem;
    left: 18.5rem;
    bottom: auto;
    line-height: 1.5; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    display: none; }
  div#section-splash .carousel a.a-pdsa,
  div#section-splash .carousel a#a-splash-pdsa_4 {
    bottom: 4.25rem; }
  section#section-what_phss_does p.p-what_phss_does {
    width: 80%;
    margin: 0 auto; }
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(1) h5 {
    text-align: center; }
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(1) p#p-what_phss_does-services,
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(1) ul {
    margin-left: 18%; }
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(2),
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(3) {
    margin-top: 1.75rem; }
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(2) > img {
    width: 15rem; }
  section#section-what_phss_does hr {
    width: 81%; }
  section#section-why_phss div.col-ipad-12 {
    text-align: center !important; }
  section#section-why_phss div.col-ipad-2 {
    position: relative;
    top: 0.75rem; }
  section#section-why_phss div.row:nth-child(2) > div:first-of-type > img {
    width: 15.63rem; }
  section#section-why_phss div.factoid-why_phss {
    margin-right: 0;
    display: inline; }
  section#section-why_phss div.factoid-why_phss-header {
    background-position: 50% 0;
    background-repeat: no-repeat; }
  section#section-why_phss div.factoid-why_phss-header span {
    margin: 0 auto; }
  section#section-why_phss div.factoid-why_phss-header span:first-of-type {
    padding-top: 1.2rem;
    top: 0; }
  section#section-why_phss div#factoid-why_phss-header-3 span:first-of-type {
    padding-top: 2.1rem;
    top: 0; }
  section#section-why_phss p.p-why_phss-factoid {
    width: 65%;
    margin: 0 auto; }
  section#section-location div.col-ipad-12.col-xl-3 {
    margin-top: 1.75rem; }
  section#section-location div.col-ipad-6 {
    float: left;
    text-align: left; }
  section#section-location div.col-ipad-10 {
    margin: 0 auto; }
  section#section-location div.row:nth-child(3) > div > img,
  section#section-location div.row:nth-child(4) > div > iframe {
    margin: 0 auto;
    display: block; }
  section#section-location p.p-location-desc {
    width: 80%;
    margin: 0 auto 1rem auto; }
  section#section-location .offset-ipad-3 {
    margin-left: 0; }
  section#section-location div.row:nth-child(3) > div:nth-child(2) > div:nth-child(2) > strong,
  section#section-location div.row:nth-child(3) > div:nth-child(2) > div:nth-child(2) > ol {
    font-size: 1.25rem; }
  section#section-events p.p-events {
    width: 80%;
    margin: 0 auto 1.75rem auto; }
  section#section-events hr {
    width: 40%; }
  section#section-events iframe {
    width: 33rem;
    height: 18.6rem; }
  section#section-events div.row:nth-child(4) > div hr {
    width: 49%; }
  section#section-events div.row:nth-child(7) > div img {
    width: 33rem;
    height: auto; }
  section#section-events div.row:nth-child(6) div:first-of-type {
    margin-top: 0; }
    section#section-events div.row:nth-child(6) div:first-of-type h6 {
      width: 100%; }
  section#section-events div.row:nth-child(6) div:nth-child(2) a {
    margin-bottom: 1rem; }
  section#section-events div.row:nth-child(6) div:nth-child(2) a#a-events-presenting {
    padding: 0.9rem;
    font-size: 1rem; }
  section#section-events div.row:nth-child(6) div:nth-child(2) hr {
    width: 100%; }
  section#section-events div#calendar-events {
    margin: 0 auto; }
  section#section-help_phss hr {
    width: 40%; }
  section#section-phss_supporters {
    /* 		div.row:nth-child(3), 
		div.row:nth-child(3) > div:nth-child(2) {
			display: none;
		}
 */
    /* div.phss_supporters-photo-img {
			width: 9.5rem;
		} */ }
    section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
      width: 29rem; }
    section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2),
    section#section-phss_supporters div.row:nth-child(4) > div:nth-child(2) {
      background-image: none; }
    section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2) > h5 {
      margin: 0 0 0 1.75rem;
      position: initial;
      top: 3rem;
      right: 0; }
    section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2) > div {
      margin: 0.75rem 0 0 4rem;
      position: initial; }
    section#section-phss_supporters div#phss_supporters-business-2 {
      top: 3rem; }
    section#section-phss_supporters div#phss_supporters-business-3 {
      top: 4rem; } }

@media (max-width: 768px) {
  div.col-ipad-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  p,
  section#section-location div.row:nth-child(4) > div:nth-child(2) > div:nth-child(2) > strong,
  section#section-location div.row:nth-child(4) > div:nth-child(2) > div:nth-child(2) > ol,
  section#section-phss_supporters div.row:nth-child(4) > div > div > ul,
  li {
    font-size: 1rem; }
  h3 {
    font-size: 1.5rem; }
  header ul {
    margin-top: 1.1rem; }
  nav {
    /* li:first-of-type {
			width: ((105.1% / 5) / 1.6);
			text-align: left;
		} */ }
    nav ul {
      margin-bottom: 0; }
    nav li {
      width: 32.66667%;
      border-right: none;
      vertical-align: middle; }
    nav li:last-of-type {
      text-align: right; }
  div#section-splash .carousel p#p-splash,
  div#section-splash .carousel p#p-splash-pdsa {
    margin: 1rem;
    font-size: 1rem; }
  div#section-splash .carousel p#p-splash-pdsa {
    width: 83%;
    top: 7.25rem;
    left: 9.5rem;
    line-height: 1.4; }
  div#section-splash .carousel a#a-splash-learn_more {
    top: 10.75rem; }
  div#section-splash .carousel div.carousel-item a {
    width: 9.1rem;
    left: 40.5%;
    font-size: 1rem; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    bottom: 5.25rem; }
  div#section-splash .carousel a.a-pdsa,
  div#section-splash .carousel a#a-splash-pdsa_4 {
    bottom: 2.75rem; }
  section#section-help_phss div.row:nth-child(5) > div:first-of-type {
    margin-left: 8.3333333333%; }
  section#section-help_phss div.row:nth-child(5) > div:nth-child(2) hr {
    width: 100%; }
  section#section-what_phss_does div.row:nth-child(3) > div.col-3.col-ipad-12 {
    margin-left: 0; }
  section#section-phss_supporters div.phss_supporters-photo-img {
    width: 9.5rem; }
  section#section-phss_supporters div.row:nth-child(3) > div {
    max-width: 100%;
    flex: 0 0 100%; }
  section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
    width: 27.5rem; }
  section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2) {
    height: auto; }
  section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2) > h5 {
    margin: 0 auto; }
  section#section-phss_supporters div.row:nth-child(3) > div:nth-child(2) > div {
    margin: 1.25rem auto; }
  #contact-confirmation_message {
    margin: 10% 35.25%; } }

@media (max-width: 414px) {
  section#section-what_phss_does > div.row:nth-child(4) > div:nth-child(2) > img,
  section#section-location > div.row:nth-child(3) > div > img,
  section#section-location > div.row:nth-child(4) > div > iframe,
  section#section-events iframe,
  section#section-events img,
  section#section-events div.row:nth-child(7) > div img,
  section#section-help_phss > div.row:nth-child(3) > div > img,
  section#section-help_phss div.row:nth-child(5) div > div > h6 {
    width: 19.5rem;
    height: auto; }
  section {
    margin: 2rem 0 4.5rem 0; }
    section div:nth-child(2) > div > h3 {
      width: 81%; }
  h3 {
    font-size: 1.5rem; }
  h5 {
    width: 81%;
    margin: 0 auto; }
  p {
    width: 85%; }
  div.col-iphone-12 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative; }
  div.col-iphone-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  div.col-iphone-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  div.offset-iphone-0 {
    margin-left: 0; }
  div.offset-iphone-1 {
    margin-left: 8.3333333333%; }
  .container {
    max-width: 414px;
    position: relative; }
  header img {
    margin: 0 auto;
    display: block; }
  header a {
    width: 12.18rem;
    margin: 0 auto;
    display: block; }
  header ul {
    display: none; }
  .navbar {
    height: 3.75rem;
    padding: 0.75rem 0;
    display: block;
    position: fixed;
    bottom: 0; }
  nav ul:first-of-type {
    display: block; }
  nav ul:nth-child(2),
  nav ul:nth-child(3) {
    display: none; }
  nav li {
    width: 100%;
    margin-bottom: 0.75rem;
    display: block; }
  nav ul:first-of-type li:last-of-type {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0.25rem; }
  nav ul:nth-child(2) > li:first-of-type,
  nav ul:nth-child(3) > li:first-of-type {
    width: 100%;
    text-align: center; }
  nav li:last-of-type {
    text-align: center; }
  nav a {
    font-size: 1.25rem; }
  nav a:first-of-type {
    margin-top: 0.5rem; }
  div#section-splash hr {
    width: 100%;
    margin: 0; }
  div#section-splash .carousel div.carousel-item {
    margin-bottom: 5rem; }
    div#section-splash .carousel div.carousel-item a {
      left: 8.3rem;
      top: 11rem;
      bottom: auto; }
  div#section-splash .carousel div#splash-item-desc {
    margin-bottom: 13.5rem; }
    div#section-splash .carousel div#splash-item-desc div {
      top: 9.5rem; }
  div#section-splash .carousel p#p-splash {
    width: 77%;
    margin: 1rem 2rem 1rem 2rem;
    text-align: justify;
    line-height: 1.75rem; }
  div#section-splash .carousel a#a-splash-learn_more {
    margin-left: 0;
    top: 15rem;
    left: 36%; }
  div#section-splash .carousel a.a-pdsa,
  div#section-splash .carousel a#a-splash-pdsa_1,
  div#section-splash .carousel a#a-splash-pdsa_4 {
    bottom: auto; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    top: 10rem;
    left: 6.2rem;
    display: block; }
  div#section-splash .carousel p#p-splash-pdsa {
    width: 82%;
    margin: 1rem auto 0 auto;
    top: 0;
    bottom: auto;
    left: 1rem; }
  div#section-splash .carousel .carousel-control-prev,
  div#section-splash .carousel .carousel-control-next {
    width: 13%;
    height: 10rem; }
  section#section-what_phss_does div.row:nth-child(4) > div:first-of-type,
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(2),
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(3) {
    position: relative; }
  section#section-what_phss_does p#p-what_phss_does-desc {
    width: 81%; }
  section#section-what_phss_does div.row:nth-child(4) div:first-of-type {
    top: 32.75rem; }
    section#section-what_phss_does div.row:nth-child(4) div:first-of-type h5 {
      text-align: center;
      margin-bottom: 0.75rem; }
    section#section-what_phss_does div.row:nth-child(4) div:first-of-type ul li {
      width: 81%; }
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(2) {
    top: -34.25rem; }
  section#section-what_phss_does div.row:nth-child(4) div:nth-child(3) {
    top: -34.25rem; }
    section#section-what_phss_does div.row:nth-child(4) div:nth-child(3) a#a-what_phss_does-more-mission {
      padding: 0.9rem; }
  section#section-what_phss_does hr {
    width: 76%; }
  section#section-location p.p-location-desc {
    width: 92%; }
  section#section-location div.row:nth-child(4) > div:nth-child(2) {
    margin-top: 1.75rem; }
  section#section-location div.col-ipad-6 {
    margin-top: 0;
    margin-left: 0; }
  section#section-location div.row:nth-child(4) > div:nth-child(2) > div:first-of-type {
    text-align: left; }
  section#section-location div.row:nth-child(4) > div:nth-child(2) > div.col-iphone-12:nth-child(2) > div:nth-child(2) > ol:nth-child(2) {
    margin-bottom: 0; }
  section#section-events {
    margin-bottom: 7rem;
    /*div#calendar-events {
			width: 22rem;
		}

		div#calendar-days_of_week > div {
			width: 2.46rem;
			font-size: $font_size_calendar_days_iphone;
		}

		div.calendar-dates-week > div {
			width: 2.46rem;
			height: 2.6rem;
			padding: 0.5rem 0;
			font-size: $font_size_calendar_dates_iphone;
		}

		div#calendar-dates-week-5 {
			margin: 0.5rem 0 0 0;
		} */ }
    section#section-events h3 {
      margin: 0 auto 1.5rem auto; }
    section#section-events a#a-events-sponsor_cmmt {
      font-size: 1rem;
      padding: 0.9rem; }
    section#section-events p.p-events {
      width: 81%; }
    section#section-events div.col-6.col-iphone-12 {
      margin-top: 0.5rem; }
    section#section-events iframe {
      height: 11rem; }
    section#section-events div.row:nth-child(4) hr:last-of-type {
      display: none; }
    section#section-events div.row:nth-child(5) h5 {
      margin: 2rem auto !important;
      padding-top: 0.75rem;
      padding-bottom: 1rem; }
    section#section-events div.row:nth-child(6) div:first-of-type {
      top: 29.5rem; }
      section#section-events div.row:nth-child(6) div:first-of-type div h6 {
        width: 21.5rem;
        text-align: center; }
      section#section-events div.row:nth-child(6) div:first-of-type div ul {
        width: 81%; }
        section#section-events div.row:nth-child(6) div:first-of-type div ul ul {
          width: 100%; }
    section#section-events div.row:nth-child(6) div:nth-child(2) {
      top: -76.25rem; }
      section#section-events div.row:nth-child(6) div:nth-child(2) hr {
        width: 81%; }
      section#section-events div.row:nth-child(6) div:nth-child(2) a {
        margin-bottom: 1rem; }
      section#section-events div.row:nth-child(6) div:nth-child(2) a#a-events-presenting {
        padding: 1rem;
        font-size: 1rem; }
    section#section-events div.row:nth-child(7) div h5:first-of-type {
      width: 81%;
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-weight: 700; }
    section#section-events div.row:nth-child(7) div hr:first-of-type {
      margin-top: 2rem; }
    section#section-events div.row:nth-child(7) div img {
      margin-top: 2rem;
      margin-bottom: 2rem; }
    section#section-events div.row:nth-child(7) div img:last-of-type {
      margin-bottom: 0; }
    section#section-events div.row:nth-child(8) > div img#events-img-feed-flyer {
      margin-top: 2rem; }
  section#section-help_phss p.p-help_phss {
    width: 92%;
    margin: 0 auto; }
  section#section-help_phss p.p-help_phss.after_first {
    margin: 1rem auto 0 auto; }
  section#section-help_phss div.row:nth-child(3) hr:nth-child(7) {
    display: none; }
  section#section-help_phss div.row:nth-child(5) div:first-of-type {
    margin-left: 0; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1),
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    position: relative; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1) {
    top: 26rem; }
    section#section-help_phss div.row:nth-child(5) div:nth-child(1) div:first-of-type {
      top: 0; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1) > div:nth-child(2) {
    top: 0; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    top: -52.5rem; }
  section#section-phss_supporters .phss_supporters-photo {
    margin: 0;
    display: block; }
    section#section-phss_supporters .phss_supporters-photo ul {
      padding: 0 0 0 1.25rem; }
    section#section-phss_supporters .phss_supporters-photo ul li:first-of-type {
      width: 7rem;
      margin-left: 6.28rem; }
    section#section-phss_supporters .phss_supporters-photo ul ul li:first-of-type {
      margin-left: 0;
      margin-bottom: 0; }
  section#section-phss_supporters div.phss_supporters-photo-img {
    width: 6.25rem;
    margin: 0 auto 0.75rem auto;
    margin-left: auto;
    display: block; }
  section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
    width: 22.1rem; }
  div#content-form-contact {
    padding: 1rem; }
  #form-contact {
    height: 27.75rem; }
  #contact-confirmation_message {
    height: 22.75rem;
    margin: 10% 7%; } }

@media (max-width: 375px) {
  section#section-what_phss_does > div.row:nth-child(4) > div:nth-child(2) > img,
  section#section-location > div.row:nth-child(3) > div > img,
  section#section-location > div.row:nth-child(4) > div > iframe,
  section#section-events iframe,
  section#section-events img,
  section#section-events div.row:nth-child(7) > div img,
  section#section-help_phss > div.row:nth-child(3) > div > img,
  section#section-help_phss div.row:nth-child(5) div > div > h6 {
    width: 17rem;
    height: auto; }
  header img {
    margin: 0 auto;
    display: block; }
  nav ul:nth-child(3) > li:first-of-type {
    width: 100%;
    text-align: center; }
  div#section-splash .carousel div#splash-item-desc {
    margin-bottom: 14.5rem; }
  div#section-splash .carousel p#p-splash {
    width: 75%;
    margin: 0 1rem 1rem 2rem; }
  div#section-splash .carousel div.carousel-item a {
    top: 10.5rem;
    left: 7.1rem; }
  div#section-splash .carousel a#a-splash-learn_more {
    top: 15rem;
    left: 35%; }
  div#section-splash .carousel div#splash-item-pdsa-email {
    margin-bottom: 7.75rem; }
  div#section-splash .carousel p#p-splash-pdsa {
    margin: 0 auto; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    left: 24%; }
  section#section-what_phss_does h3 {
    margin: 0 auto 1.5rem auto; }
  section#section-what_phss_does div.row:nth-child(4) > div:first-of-type,
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(2),
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(3) {
    position: relative; }
  section#section-what_phss_does div.row:nth-child(4) > div:first-of-type {
    top: 32.25rem; }
    section#section-what_phss_does div.row:nth-child(4) > div:first-of-type h5 {
      text-align: center;
      margin-bottom: 0.75rem; }
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(2) {
    top: -34rem; }
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(3) {
    top: -34rem; }
  section#section-events iframe {
    height: 9.6rem; }
  section#section-events div.row:nth-child(6) div:first-of-type {
    top: 29rem; }
  section#section-events div.row:nth-child(6) div:nth-child(2) {
    top: -84.25rem; }
  section#section-help_phss div.row:nth-child(3) hr:nth-child(7) {
    display: none; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1),
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    position: relative; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1) {
    top: 26rem; }
    section#section-help_phss div.row:nth-child(5) div:nth-child(1) div:first-of-type {
      top: 0; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1) > div:nth-child(2) {
    top: 0; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    top: -57rem; }
  section#section-phss_supporters .phss_supporters-photo ul li:first-of-type {
    margin-left: 5.08rem; }
  section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
    width: 18.75rem; }
  #contact-confirmation_message {
    width: 19.25em;
    height: 22.5em;
    padding: 1em 1.5em; }
  #contact-confirmation_message p {
    font-size: 0.9em; } }

@media (max-width: 360px) {
  section#section-what_phss_does > div.row:nth-child(4) > div:nth-child(2) > img,
  section#section-location > div.row:nth-child(3) > div > img,
  section#section-location > div.row:nth-child(4) > div > iframe,
  section#section-events iframe,
  section#section-events img,
  section#section-events div.row:nth-child(7) > div img,
  section#section-help_phss > div.row:nth-child(3) > div > img,
  section#section-help_phss div.row:nth-child(5) div > div > h6 {
    width: 16.75rem;
    height: auto; }
  div#section-splash .carousel div.carousel-item {
    margin-bottom: 4.5rem; }
  div#section-splash .carousel div.carousel-item a {
    top: 9.5rem;
    left: 29.25%; }
  div#section-splash .carousel div#splash-item-desc {
    margin-bottom: 15rem; }
  div#section-splash .carousel a#a-splash-learn_more {
    top: 15rem; }
  div#section-splash .carousel .carousel-control-prev,
  div#section-splash .carousel .carousel-control-next {
    height: 8.25rem; }
  section#section-what_phss_does div.row:nth-child(4) > div:first-of-type,
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(2),
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(3) {
    position: relative; }
  section#section-what_phss_does div.row:nth-child(4) > div:first-of-type {
    top: 32rem; }
    section#section-what_phss_does div.row:nth-child(4) > div:first-of-type h5 {
      text-align: center; }
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(2) {
    top: -38rem; }
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(3) {
    top: -38rem; }
  section#section-events {
    /* 	div#calendar-events	{
			width: 20.5rem;
		}

		div#calendar-days_of_week > div, 
		div.calendar-dates-week > div	{
			width: 2.26rem;
		}

		div.calendar-dates-week > div	{
			height: 2.4rem;
			padding: 0.4rem 0;
			font-size: $font_size_header_iphone;
		} */ }
    section#section-events iframe {
      height: 9.46rem; }
    section#section-events div.row:nth-child(6) div:first-of-type {
      top: 29.75rem; }
      section#section-events div.row:nth-child(6) div:first-of-type div h6 {
        width: 20.5rem; }
    section#section-events div.row:nth-child(6) div:nth-child(2) {
      top: -86rem; }
  section#section-help_phss div.row:nth-child(3) hr:nth-child(7) {
    display: none; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1),
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    position: relative; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1) {
    top: 26rem; }
    section#section-help_phss div.row:nth-child(5) div:nth-child(1) div:first-of-type {
      top: 0; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    top: -58.25rem; }
  section#section-phss_supporters .phss_supporters-photo ul li:first-of-type {
    width: 7rem;
    margin-left: 4.58rem; }
  section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
    width: 18.75rem; } }

@media (max-width: 320px) {
  section#section-what_phss_does > div.row:nth-child(4) > div:nth-child(2) > img,
  section#section-location > div.row:nth-child(3) > div > img,
  section#section-location > div.row:nth-child(4) > div > iframe,
  section#section-events img,
  section#section-events iframe,
  section#section-events div.row:nth-child(7) > div img,
  section#section-help_phss > div.row:nth-child(3) > div > img,
  section#section-help_phss div.row:nth-child(5) div > div > h6 {
    width: 14.75rem;
    height: auto; }
  div#section-splash .carousel p#p-splash {
    width: 72%; }
  div#section-splash .carousel div#splash-item-desc {
    margin-bottom: 23rem; }
  div#section-splash .carousel div.carousel-item {
    margin-bottom: 5.5rem; }
    div#section-splash .carousel div.carousel-item a {
      left: 5.4rem; }
  div#section-splash .carousel a#a-splash-learn_more {
    top: 17.5rem;
    left: 6.5rem; }
  div#section-splash .carousel a#a-splash-pdsa_1 {
    left: 3.75rem; }
  section#section-what_phss_does div.row:nth-child(4) > div:first-of-type,
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(2),
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(3) {
    position: relative; }
  section#section-what_phss_does div.row:nth-child(4) > div:first-of-type {
    top: 30rem; }
    section#section-what_phss_does div.row:nth-child(4) > div:first-of-type h5 {
      text-align: center; }
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(2) {
    top: -42.25rem; }
  section#section-what_phss_does div.row:nth-child(4) > div:nth-child(3) {
    top: -42.5rem; }
  section#section-events iframe {
    height: 8.3rem; }
  section#section-events div.row:nth-child(5) > div:first-of-type h5:first-of-type {
    margin: 2rem auto; }
  section#section-events div.row:nth-child(6) div:first-of-type div > h6 {
    width: 18rem; }
  section#section-events div.row:nth-child(6) div:first-of-type {
    top: 29rem; }
  section#section-events div.row:nth-child(6) div:nth-child(2) {
    top: -103.75rem; }
  section#section-events div.row:nth-child(6) div > ul {
    width: 81%; }
  section#section-help_phss div.row:nth-child(3) hr:nth-child(7) {
    display: none; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1),
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    position: relative; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(1) {
    top: 27.5rem; }
    section#section-help_phss div.row:nth-child(5) div:nth-child(1) div:first-of-type {
      top: 0; }
  section#section-help_phss div.row:nth-child(5) div:nth-child(2) {
    top: -65.75rem; }
  section#section-phss_supporters .phss_supporters-photo ul li:first-of-type {
    margin-left: 3.3rem; }
  section#section-phss_supporters div.row:nth-child(3) > div > div > ul {
    width: 16.25rem; } }
