/* ******* ******* style.sass ~ The SASS file used to render style.css ******* ******* */
body {
  margin: 0; }

header {
  width: 100%;
  height: 5rem;
  padding: 0.56rem 4rem;
  border-top: 2px solid #fecc3c;
  border-bottom: 2px solid #ec9053; }
  header ul {
    margin-top: 0.7rem;
    float: right; }
  header li {
    margin: 0 0.98rem;
    display: inline-flex;
    list-style: none; }
  header a {
    font-family: "sofia-pro-soft";
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: underline;
    color: #8c0d98; }

.navbar {
  padding: 0 4rem; }

nav {
  height: 3.75rem;
  background-color: #fecc3c; }
  nav ul {
    padding: 0; }
  nav li {
    width: 248.5714285714px;
    display: inline-flex;
    list-style: none;
    text-align: center; }
  nav li:first-of-type {
    width: 108.75px;
    text-align: left; }
  nav li:last-of-type {
    text-align: right; }
  nav a {
    width: 100%;
    font-family: "sofia-pro-soft";
    font-size: 1.25rem;
    font-weight: 400;
    color: #8c0d98; }
